*.iml
.gradle
.hprof
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/gradle
/captures
.externalNativeBuild
/PushSDK/build
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml


.idea/
